<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>


  <div  *ngFor = 'let voyage of tiles'>
    <div id = 'header'>Description: {{voyage.description}}</div>
    <div id = 'tileContents'>
      From {{voyage.selectedStateRoomPrice}} 
      per person <b>{{voyage.selectedStateRoomName}}</b>-
      <button><a routerLink="/itinerary/{{voyage.id}}">View Itinerary</a></button>
      <app-map></app-map>
      <p>Itinerary ID: {{voyage.id}}</p>
      <p>DEPARTURE DATE: {{voyage.dateDepart |date}}</p>
      <p>SHIP: {{voyage.shipDisplayName}}</p>
      <p>DEPARTS: {{voyage.disembarkPortName}}</p>
      <p>ARRIVES: {{voyage.embarkPortName}}</p>
      <p>TPFE: ${{voyage.tfpe}}</p>
        <div id ='stateRoomsContainer'>
            <div id = 'stateRooms' *ngFor = 'let room of voyage.stateRooms'>
              {{ room._id }} <button (click) = 'onSelect(room,voyage)'>{{ room?.priceBlocks[0]?.prices[0]?.fare }}</button>
            </div>
            <button><a routerLink="/itinerary/{{voyage.id}}">Book Now</a></button>
        </div>
    </div>
  </div>
</body>
</html>
